{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

<section>
	<img src="{% static 'images/logo_carlife.png' %}" width="80" height="80" />
	<h1 class="entry-title">CarLife</h1>
</section>
	<div class="line">
	</div>
<article>
		<div class="art-content">
			<div class="information_about">
					<p>
					Любому автомобилю, даже если он будет лучшим в мире, так или иначе, потребуется ремонт либо должное обслуживание. Для качественного ремонта понадобится надёжный автосервис, а также специалисты, которые будут хорошо разбираться в строении автомобилей, понимать процессы, происходящие при их работе, и, соответственно, осуществлять качественный ремонт.
					</p>
					<p>
					Автосервис <b>CarLife</b> - это гарантия качества и высочайший класс обслуживания вашего авто.
					</p>
					<p>
					Мастера нашего автосервиса готовы устранить неисправности различного масштаба, проконсультировать по вопросам эксплуатации, ремонта и обслуживания вашего авто.
					Многолетний опыт наших сотрудников поможет вам даже в самых непростых ситуациях, связанных с вашим автомобилем. 
					</p>
					<div class="note"><p>Наш сервис предоставляет широкий спектр услуг:</p>
						<ol>
							<li>Шиномонтаж</li>
							<li>Развал-схождение</li>
							<li>Малярно-кузовной ремонт</li>
							<li>Сварочные работы любой сложности, АРГОН</li>
							<li>Ремонт двигателей</li>
							<li>Ремонт КПП</li>
							<li>Ремонт ходовой части автомобиля любой сложности</li>
							<li>Замена масла в АКПП с промывкой</li>
							<li>Подбор запчастей</li>
							<li>Сезонное хранение колес</li>
						</ol>
					<div class="clear"></div>
						<blockquote><p>Мы работаем с автомобилями любой марки!</p></blockquote>
					</div>
			</div>
</article>


{% endblock %}