<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>CarLife</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
	================================================== -->
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'sellparts/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'sellparts/css/lightbox.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'sellparts/css/zerogrid.css' %}" />


	<!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'sellparts/font-awesome/css/font-awesome.min.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'sellparts/css/menu.css' %}" />

	<link rel="stylesheet" type="text/javascript" href="{% static 'sellparts/js/jquery1111.min.js' %}" />
	<link rel="stylesheet" type="text/javascript" href="{% static 'sellparts/js/script.js' %}" />


	<!-- Owl Carousel Assets -->
    <link rel="stylesheet" type="text/css" href="{% static 'sellparts/owl-carousel/owl.carousel.css' %}" />
	<!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->


	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>

<body>
	<div class="wrap-body">
		<div class="header">
			<div id='cssmenu' class="align-right">
				<ul>
				   <li class="active"><a href='index.html'><span>CarLife</span></a></li>
				   <li class=' has-sub'><a href='archive.html'><span>Запчасти</span></a>
					  <ul>
						 <li class='has-sub'><a href='#'><span>Двигатели</span></a>
							<ul>
							   <li><a href='#'><span>На шоху</span></a></li>
							   <li class='last'><a href='#'><span>На семена</span></a></li>
							</ul>
						 </li>
						 <li class='has-sub'><a href='#'><span>Колеса</span></a>
							<ul>
							   <li><a href='#'><span>На финик</span></a></li>
							   <li class='last'><a href='#'><span>На хуиник</span></a></li>
							</ul>
						 </li>
					  </ul>
				   </li>
				   <li><a href='#'><span>Галерея</span></a></li>
				   <li><a href='single.html'><span>О компании</span></a></li>
				   <li class='last'><a href='contact.html'><span>Контакты</span></a></li>
				</ul>
			</div>
		</div>
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content zerogrid">
						<div class="row">
							<div class="col-1-2">
								<a href="index.html"></a>
							</div>
							<div class="col-1-2">
								<form id="form-container" action="" class="f-right">
									<!--<input type="submit" id="searchsubmit" value="" />-->
									<a class="search-submit-button" href="javascript:void(0)">
										<i class="fa fa-search"></i>
									</a>
									<div id="searchtext">
										<input type="text" id="s" name="s" placeholder="Поиск...">
									</div>
								</form>
							</div>
						</div>
						<div class="crumbs">
							<ul>
								<li><a href="index.html">Домой</a></li>
								<li><a href="gallery.html">О нас</a></li>
							</ul>
						</div>
						<article>
							<div class="art-header">
								<h1 class="entry-title">Здрасьте</h1>
							</div>
							<div class="art-content">

								<div class="information_about"><p>Здесь будет информация о том, чем занимается компания.</p></div>
								<p>Тут еще немножечко инфы.</p>
								<blockquote><p>Тут можно разместить какой-нибудь слоган, типа "работаем до седьмого пота".</p></blockquote>
								<h2>Первый заголовок</h2>
								<p>Мы работаем уже n-ое количество лет.</p>
								<h2>Заголовок второй</h2>
								<p>Нам доверяют. Мы выполняем работу ответственно.</p>
								<p>Заберем, отремонтируем и привезем.</p>
								<div class="note"><p>Наш сервис предоставляет следующие виды работ:</p>
								  <ol>
									<li>Слесарные</li>
									<li>Кузовные</li>
									<li>Малярные</li>
								  </ol>
								  <div class="clear"></div>
								</div>
								<p>И все в таком духе. За базар отвечаем!</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="wrap-footer">
				<div class="zerogrid">
					<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<p>Все права защищены. Разработано  <a href="https://vk.com/ersh_evser" title="Жекос">Жекосиком</a></p>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<ul class="social-buttons">
									<li><a href="#"><i class="fa fa-vk"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-instagram"></i></a>
									</li>
									</ul>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<ul class="quick-link">
									<li><a href="#">Все круто!</a></li>
									<li><a href="#">Всем спасибо!</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
</html>