{% extends 'base.html' %}
{% block page %}
<section>
		<h1 class="entry-title" align="center">Прайс-лист</h1>
</section>
<div class="line">
</div>
<div class="brd-tab">
<section id="container">
			<div class="wrap-container">
				<div class="wrap-content zerogrid">
					<div class="row">
						<div class="col-1-4">
							<b>Наименование</b>
						</div>
						<div class="col-1-4">
							<b>Легковые (A,B,C)</b>
						</div>
						<div class="col-1-4">
							<b>Легковые (D,E,F(S))</b>
						</div>
						<div class="col-1-4">
							<b>Джипы и минивены</b>
						</div>
					</div>
				</div>	
			</div>
	</section>
</div>
{% for service in services %}
<div class="brd-tab">
<section id="container">
			<div class="wrap-container">
				<div class="wrap-content zerogrid">
					<div class="row">
						<div class="col-1-4">
							<b>{{service.name}}</b>
						</div>
						<div class="col-1-4">
							{{service.cost_1}} &#x20bd
						</div>
						<div class="col-1-4">
							{{service.cost_2}} &#x20bd
						</div>
						<div class="col-1-4">
							{{service.cost_3}} &#x20bd
						</div>
					</div>
				</div>	
			</div>
	</section>
</div>
{% endfor %}
<div class="line">
</div>
<p><b>Для уточнения информации звоните по телефону:</b>
	<a href="tel:+79052019229">+7 (905) 201-92-29</a>
</p>
{% endblock %}