{% extends 'base.html' %}

{% block page %}
<section>
		<h1 class="entry-title">Прайс-лист</h1>
</section>
	<div class="line">
	</div>
<section id="container">
			<div class="wrap-container">
				<div class="wrap-content zerogrid">
					<div class="row">
						<div class="col-1-4">
							<h3>Наименование</h3>
						</div>
						<div class="col-1-4">
							<h3>Легковые (A,B,C)</h3>
						</div>
						<div class="col-1-4">
							<h3>Легковые (D,E,F(S))</h3>
						</div>
						<div class="col-1-4">
							<h3>Джипы и минивены</h3>
						</div>
					</div>
				</div>	
			</div>
	</section>
{% for service in services %}
<section id="container">
			<div class="wrap-container">
				<div class="wrap-content zerogrid">
					<div class="row">
						<div class="col-1-4">
							{{service.name}}
						</div>
						<div class="col-1-4">
							{{service.cost_1}}
						</div>
						<div class="col-1-4">
							{{service.cost_2}}
						</div>
						<div class="col-1-4">
							{{service.cost_3}}
						</div>
					</div>
				</div>	
			</div>
	</section>
{% endfor %}
{% endblock %}