{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
	<section>
		<img src="{% static 'images/logo_carlife.png' %}" width="80" height="80" />
		<h1 class="entry-title">Запчасти</h1>
	</section>
	<div class="line">
	</div>
	{% for part in parts %}
	<section id="container">
			<div class="wrap-container">
					<div class="wrap-content zerogrid">
						<div class="row">
							<div class="col-1-3">
								<div class="col-1-3">
									<div class="wrap-col">
										<img src="{{part.pic.url}}" height="50" />
									</div>
								</div>
								<div class="col-1-3">
									<div class="wrap-col">
										<b>{{ part.name }}</b> 
											{{ part.cost }}
									</div>
								</div>
							</div>
						</div>
					</div>
				
			</div>
	</section>

{% endfor %}
{% endblock %}
