{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<section>
<div class="zerogrid">
  <div class="row">
    <div class="col-2-3">
			<h1 class="entry-title">Контакты</h1>
			<div class="note"><p>Наш сервис предоставляет широкий спектр услуг, начиная от малярных и заканчивая слесарными видами услуг.</p>
		</div>
      <p>Мы находимся по адресу Малый проспект В.О., д.55:</p>
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa3b935c2ed4af23a18d6eb802add993734a884860b058f6809b1d5db0dc3b148&amp;source=constructor" width="600" height="450" frameborder="0"></iframe>
  	</div>
		<div class="col-1-3">
  		<h3>Номер эвакуатора</h3>
  		<p>
				<a href=" " title="Номер эвакуатора">+79602713013</a>
			</p>
		</div>
  </div>
</div>
</section>

{% endblock %}